@page
@model Client.Pages.Order.UserOrderDetailed

<!DOCTYPE html>

<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<div class="container">
   <div class="col-6 mt-4">
      <h3 class="mb-3">Заказ - @Model.Order.OrderDate.ToString("dddd, dd MMMM")</h3>
      @if (Model.Order.Payment)
      {
         <p class="h4 text-success">Подтвержден</p>
      }
      else
      {
         <p class="h4 text-danger">Не подтвержден</p>
      }
   </div>
   <div class="hstack mx-auto mt-5">
      <div class="card-deck col-md-6 mx-auto">
         <div class="card active mb-4">
            <div class="card-body">
               <div class="row">
                  <h5 class="card-title col me-auto">@Model.Order.LunchSet.Price.ToString()₽</h5>
               </div>
               @foreach (var lunchSetUnit in @Model.Order.LunchSet.LunchSetList)
               {
                  <p class="card-text">@lunchSetUnit</p>
               }
            </div>
         </div>
         @foreach (var option in Model.Order.Options)
         {
            <div class="card active mb-4">
               <div class="card-body">
                  <p class="card-text">@option.Option.Name +@option.Option.Price.ToString()₽</p>
               </div>
            </div>
         }
         <p class="h6">Итого — @Model.OrderSummary.ToString()₽</p>
      </div>
   </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>